p {
  text-decoration: rgb(46, 231, 160) overline wavy 2px;
  /* 
  각 속성값의 순서가 바뀌는 것은 상관없음
  blue wavy underline 3px; 등도 상관없습니다.
  */
  text-transform: capitalize;
  text-transform: none;
  text-transform: uppercase;
  text-transform: lowercase;
}