.outer{
  width: 640px;
  height:640px;
  border: 2px solid lightgray;
  padding: 12px 0 0 12px;

}
.outer > div{
  width: 200px;
  height: 200px;
  background-color: gray;
  display: inline-block;
  margin: 0 8px 8px 0;
}
.outer > .yellow{
  background-color: orange;
}

.yellow > .red {
  width: 66px;
  height: 66px;
  background-color: red;
}